* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container-nav {
  max-width: 1300px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  text-align: center;
  justify-content: center;
}

.small-container-sports {
  max-width: 1280px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.small-container-sports h1 {
  color: black;
  text-align: center;
  margin-bottom: 40px;
  padding: 0 0 20px 0;
}

.account-page .col-1-sports h1 {
  font-size: 60px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.col-1-sports p {
  font-size: 20px;
  margin: 2rem 0;
}

.col-1-sports button[type="submit"] {
  margin: 5px;
  padding: 10px 30px;
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-sports-filter {
  background: url("sportynn_bg_home.jpg");
  height: 30vh;
  background-size: cover;
  background-position: center;
  color: antiquewhite;
}

/* SPORTS SECTION */

.small-container-sports .col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  border-radius: 22px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}



.small-container-sports .col-3 img {
  width: 100%;
  height: 100%;
}

.small-container-sports .col-3 img {
  box-shadow: none;
}

.small-container-sports h2 {
  padding: 25px 0;
  text-align: center;
  color: black;
}

.small-container-sports .col-3 h4 {
  color: black;
  padding: 5px 10px;
}

.small-container-sports .col-3 p {
  padding: 10px 10px;
  font-size: 14px;
  color: black;
}

.row-sports-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 800px) {
  .small-container-sports .col-3 {
    flex-basis: 70%;
    min-width: 250px;
    margin-bottom: 30px;
    border-radius: 22px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
}

@media (max-width: 600px) {
  .small-container-sports .col-3 {
    flex-basis: auto;
    min-width: 250px;
    margin-bottom: 30px;
    border-radius: 22px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
}

/* FOOTER SECTION */

.footer-reg {
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 60px 0 20px;
}

.row-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-reg h3 {
  margin-bottom: 10px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
  min-width: 250px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-col-1 {
  flex-basis: 30%;
  text-align: center;
}

.footer-col-2 {
  flex-basis: 30%;
  text-align: center;
}

.footer-col-3 {
  flex-basis: 30%;
  text-align: center;
}

.footer-col-3 .btn {
  background-color: rgba(250, 235, 215, 0.832);
  color: black;
  font-weight: 600;
  margin: 10px 0;
  padding: 5px 10px;
  font-size: 14px;
}

.social-media {
  margin: 10px 0;
}

.social-media a {
  color: antiquewhite;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

@media (max-width: 800px) {
  .form-container {
    height: 340px;
  }

  .footer-reg {
    padding: 200px 0 20px;
  }

  .form-container form {
    top: 110px;
  }

  .account-page .col-2 img {
    height: 300px;
    width: 200px;
  }
}
